@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './theme-colors.css';

@theme {
  --font-sans: 'Cormorant Garamond', serif;
}

body {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.8;
}
